# EditorConfig is awesome: https://EditorConfig.org
# https://prettier.io/docs/en/configuration.html#editorconfig

# top-most EditorConfig file
root = true

[*]
charset = utf-8
max_line_length = 80
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
# otherwise it defaults to 2, derp
tab_width = 8

[Makefile*]
indent_style = tab
indent_size = 8

[*.py]
max_line_length = 79
indent_size = 4
