[user]
    name = Buck Golemon
    email = buck@yelp.com
[core]
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[pack]
    threads = 0
    packSizeLimit = 64m
[diff]
    renamelimit = 0
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = diffconflicts
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "diffconflicts"]
    cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = true
    keepBackup = false
[push]
    default = current
[advice]
    detachedHead = false
[alias]
    branch-name = !sh -c 'git symbolic-ref HEAD|sed s@^refs/heads/@@'
    upstream = !sh -c '\
        git config branch.`git branch-name`.upstream || \
        branch=`git branch-name` && \
        remote=`git config \"branch.$branch.remote\"` && \
        merge=`git config \"branch.$branch.merge\"|sed s@^refs/heads/@@`&& \
        echo $remote/$merge\
    '
    base = !git merge-base `git upstream` HEAD
    diffbase = !sh -c 'git diff `git base` "$@"' -
    lol = !git log --oneline --graph --decorate --pretty=format:'%C(auto)%h - %C(bold blue)%aE%Cgreen(%cr)%C(auto)%d%Creset %s' "$@" | \
        sed -l 's/@yelp.com//' | \
        less -XLR -
    fetch1 = !sh -c 'colorize git fetch "$0" "$1":refs/remotes/"$0"/"$1"'

    branch1 = !sh -c 'git fetch1 canon master && git checkout canon/master -b "$0" && mm && USER="${1-buck}" alert-irc new branch "$0"'
    vimdiff = difftool
    dt = difftool
    df = diff
    mt = mergetool

# vim:sts=4:sw=4:et:
