# Ignore everything ...
*
**/*

# ... except subdirectories containing a .gitignore ...
# NOTE: This causes a scan of all subdirectories, looking for .gitignore files.
#   To prevent scans of huge/slow directories add a .gitignore to explicitly
#   ignore all subdirectories, as in:
#     ./Library/CloudStorage/.gitignore
!**/
!**/.gitignore

# hacking
tmp/
munge*
mangle*
trash/
*.bak/

# these have to be explicitly ignored because they sometimes contain git repos
.cargo/
.cache/
.opam/
.git/
.local/share/pnpm

# dontcare:
.fzf/

# binaries and local files
.vscode
