[user]
        name = Buck Golemon
        email = workitharder@gmail.com
[color]
        ui = auto
[diff]
        external = $HOME/bin/git_diff_wrapper
[pager]
        diff = 
        blame = 
[pack]
        threads = 0
[diff]
        renamelimit = 0

# vim:sts=4:sw=4:et:
