[submodule ".vim/bundle/vim-sensible"]
	path = .vim/pack/github/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/bundle/gruvbox"]
	path = .vim/pack/github/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "scratch"]
	path = scratch
	url = /home/bukzor/scratch/
