# hacking
*.log
demo*
*.strace
*.bak

# don't care
.sommelierrc
.emscripten

# files with transient data
.local/state/
.viminfo
.cache
.emscripten_cache/
tmp/
**/trash/
bak/

# transient history
*.sw[a-p]
.bash_history
.python_history
.lesshst
.node_repl_history
.wget-hsts
Brewfile.lock.json
.sudo_as_admin_successful

# files with host-local data
.Xauthority
.aptitude/

# externally managed
Dropbox/
.cpan/
.docker/
.conda/

# local-machine binaries
package/
.rustup
.cargo
.volta
.npm
.dropbox
.dropbox-dist
.local/*

# Opt-in .local/share (controlled by .local/share/.gitignore)
!.local/share/


# Pants workspace files
/.pants.d
/dist/
.aider*
