# Ignore everything in .local/share by default
*

# Opt-in this .gitignore file itself
!.gitignore

# Opt-in git-localhost-store to dotfiles (directory and contents)
!git-localhost-store/
!git-localhost-store/**
