[Desktop Entry]
Type=Application
Version=1.0
Name=Diodon
GenericName[bg]=Мениджър на системния буфер
GenericName[ca]=Gestor del porta-retalls
GenericName[cs]=Správce schránky
GenericName[de]=Zwischenablage-Verwaltung
GenericName[en_GB]=Clipboard Manager
GenericName[es]=Gestor del portapapeles
GenericName[et]=Lõikepuhvrihaldur
GenericName[fi]=Leikepöydän hallinta
GenericName[fr]=Gestionnaire de presse-papier
GenericName[gl]=Xestor do portapapeis
GenericName[hr]=Upravitelj međuspremnika
GenericName[hu]=Vágólapkezelő
GenericName[it]=Gestore degli appunti
GenericName[ja]=クリップボードマネージャー
GenericName[lt]=Iškarpinės tvarkytuvė
GenericName[nb]=Utklippstavle-behandler
GenericName[nl]=Klembordbeheer
GenericName[pl]=Menadżer Schowka
GenericName[pt]=Gestor da Área de Transferência
GenericName[pt_BR]=Gerenciador de área de transferência
GenericName[ro]=Administrator clipboard
GenericName[ru]=Менеджер буфера обмена
GenericName[se]=Čuohpusgirjigieđahalli
GenericName[sk]=Správca schránky
GenericName[sv]=Urklipphanterare
GenericName[tr]=Pano Yöneticisi
GenericName[uk]=Менеджер буферу обміну
GenericName[zh_CN]=剪贴板管理器
GenericName=Clipboard Manager
Comment[ca]=Gestor del porta-retalls GTK+
Comment[cs]=GTK+ Správce schránky
Comment[de]=GTK+-Zwischenablage-Verwaltung
Comment[en_GB]=GTK+ Clipboard Manager
Comment[es]=Gestor del portapapeles GTK+
Comment[et]=GTK+ lõikepuhvrihaldur
Comment[fi]=GTK+-pohjainen leikepöydän hallinta
Comment[fr]=Gestionnaire de presse-papier GTK+
Comment[gl]=Xestor do portapapeis en GTK+
Comment[hr]=GTK+ upravitelj međuspremnika
Comment[hu]=GTK+ Vágólapkezelő
Comment[it]=GTK+ Clipboard Manager
Comment[ja]=GTK+クリップボードマネージャー
Comment[lt]=GTK+ iškarpinės tvarkytuvė
Comment[nb]=GTK+ håndtering av utklippstavle
Comment[nl]=GTK+-klembordbeheer
Comment[pl]=Menadżer schowka GTK+
Comment[pt]=Gestor da Área de Transferência GTK+
Comment[pt_BR]=Gerenciador de área de transferência em GTK+
Comment[ro]=Administrator clipboard pentru mediul GTK+
Comment[ru]=Менеджер буфера обмена на базе GTK+
Comment[se]=GTK+ Čuohpusgirjigieđahalli
Comment[sv]=GTK+ Urklipphanterare
Comment[tr]=GTK+ Pano Yöneticisi
Comment[uk]=GTK+ Менеджер буферу обміну
Comment[zh_CN]=GTK+ 剪贴板管理器
Comment=GTK+ Clipboard Manager
Icon=diodon
NotShowIn=KDE;
Exec=diodon %u
Terminal=false
Categories=GTK;GNOME;Utility;
StartupNotify=false
MimeType=x-scheme-handler/clipboard;

