# un-ignore non-hidden files
![!.]*

# hacking
munge*
mangle*
bak/
*.log

# automatic temporary files
.netrwhist
cache/
plugged/
shada/
swap/
mason/
site/pack/packer
sessions/

telescope_history
packer_compiled.lua
